* {
  /* background: rgb(200, 0, 0, 0.3); */
  border: solid 1px;
}
.wrapper {
  background: rgba(150, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 4em 50em 4em;
  grid-template-areas:
    "nav"
    "conteudo"
    "footer";
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 1em 1em 0 0;
  grid-area: nav;
}

.menu a {
  padding-left: 1em;
}

.fotoPerfil {
  border-radius: 50%;
  width: 2.5em;
}

.conteudo {
  grid-area: conteudo;
}
