* {
  margin: 0%;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.4fr 6fr 0.2fr;
  grid-template-areas:
    "menu menu menu"
    "content content content"
    "footer footer footer";
}

.menu {
  background: lightblue;
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  background: lightcoral;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  background: lightgreen;
  /* background: #f2f2f2; */
  grid-area: footer;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footeresq {
  display: flex;
  justify-content: flex-end;
}

.menu a {
  padding-right: 1em;
}

.fotoPerfil {
  border-radius: 50%;
  width: 2em;
}
