* {
  border: solid 1px;
}

.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
    "menu menu menu"
    "content content content"
    "footer footer footer";
}
.menu {
  grid-area: menu;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  grid-area: content;
  background: lightcoral;
}

.footer {
  grid-area: footer;
  background: lightgreen;
}

.menu a {
  padding-left: 1em;
}

.fotoPerfil {
  border-radius: 50%;
  width: 2.5em;
}
